<form action="/recipes" method="POST">

    <label for="name"> Name </label>
    <input name="name" type="text">

    <label for="ingredients"> Ingredients </label>
    <input name="ingredients" type="text">

    <label for="cooktime"> Cook time </label>
    <input name="cooktime" type="text">
   
    <input type="submit" value="New Recipe">
</form>